# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.cache
*.dll
*.exe
*.pdb
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio
.vs/
.vscode/
*.csproj.user
*.sln.docstates

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Temporary files
*.tmp
*.temp
*.log
